@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap");
@import "tailwindcss";

* {
    font-family: "Outfit", sans-serif;
}

.spin {
    animation: spin 0.35s ease-in infinite;
}

@keyframes spin {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

.wave {
    display: inline-block;
    transform-origin: bottom center; /* so it rotates like a hand waving */
    animation: shake 1s ease-in-out infinite;
}

@keyframes shake {
    0% {
        transform: rotateZ(0deg);
    }
    25% {
        transform: rotateZ(10deg);
    }
    50% {
        transform: rotateZ(0deg);
    }
    75% {
        transform: rotateZ(-10deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}

.jump {
    @apply animate-bounce;
}

@keyframes jump {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-300px);
    }
}

/* Add to your global CSS */
* {
    cursor: inherit;
}
@theme {
    --animate-move-in: move-in 0.25s cubic-bezier(0.4, 0, 0.2, 1) forwards;

    @keyframes move-in {
        0% {
            opacity: 0;
            transform: translateX(-28px);
        }
        90% {
            opacity: 1;
        }
        100% {
            opacity: 1;
            transform: translateX(0px);
        }
    }
}

button,
a {
    cursor: pointer;
}
/* */

.role:after {
    animation: animate 4s steps(12) infinite, pulsey 2s steps(1) infinite;
}
@keyframes animate {
    0%,
    10% {
        left: 0%;
    }
    45%,
    55% {
        left: 100%;
        border-color: var(--color-blue-500);
    }
    90%,
    100% {
        left: 0%;
    }
}

@keyframes pulsey {
    0%,
    20%,
    40%,
    60%,
    80%,
    90%,
    100% {
        border-color: var(--color-blue-500);
    }
    10%,
    30%,
    50%,
    70% {
        border-color: white;
    }
}

.service {
    will-change: transform;
}
/*
.project-card {
    transition: transform 0.3s ease;
}

.project-card:hover {
    transform: translateY(-2px);
}

.project-hover-button {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
    transform: translateY(10px);
}

.project-card:hover .project-hover-button {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    animation: move-in 4s ease-in-out;
} */

@keyframes move-in {
    0% {
        opacity: 0;
        transform: translateX(-28px);
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
/* .project-image {
    transition: transform 0.3s ease;
}

.project-card:hover .project-image {
    transform: scale(1.05);
} */

#projectContain {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

/* #projectContain > article:last-child {
    margin-bottom: 0;
} */
